.task-input {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.task-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.task-input input::placeholder {
  color: var(--placeholder-color);
}
.task-input input:focus {
  border-color: var(--focus-color);
  outline: auto;
}

.task-input button {
  border: 1px solid #aaa;
  padding: 8px 12px;
  background: #0077cc;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
